#question-container{
    width: 800px;
    margin-top: 50px;
}

.body{
    background-color: grey;
}

#timer, #score{
    color: white;
}
#answer-buttons{
    display: none;
}
h1 {
    color:white;
    margin-top: 50px;
}

#question {
    font-weight: bold;
}